.container{
  position:relative;
  height: 200px;
  margin-top: 50px;
}
.list-countries{
  max-height: 530px;
  border-radius: 5px;
}

.history-table{
  margin-top: 20px;
}
footer{
  bottom:0;
  text-align:center;
  color: aliceblue;
}
