.countries-label{
  margin: 10px;
  padding: 1% 22%;
  background-color: #4472c4;
  border-radius: 7px;
  color: white;
}
.countries-select{
  width: 50%;
}
.send-test {
  margin  : 10px;
  background-color: #4472c4;
}
